.search-box {
    margin-top: 70px;
    margin-bottom: 30px;
}

.search-results .thumbnail {
    min-height: 460px;
}

.movie-title {
    font-size: 16px;
    color: #0088cc;
}

#messagebox {
    margin-top: 10px;
}

.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    bottom: 30px;
}
.star-rating .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
.star-rating .star.filled {
    color: #fd0;
}
.star-rating.readonly .star.filled {
    color: #666;
}
